<div class="topna">
    <p>Verification</p>
    <div class="right-nav">
        <ion-icon name="notifications"></ion-icon>
        <div class="pro">
            <img src="/img/profile_icon.png" alt="Profile-pic">
            <p>Name</p>
            <ion-icon name="chevron-down-outline"></ion-icon>
        </div>
    </div>
</div>