<%- include('partials/headerAndNav.ejs') %>

        <!-- cards -->

        <section class="card-container">
          <div class="card">
            <div class="card-image car-1"></div>
            Buy and Sell
          </div>
          <div class="card">
            <div class="card-image car-2"></div>
            Ecommerce
          </div>
          <div class="card">
            <div class="card-image car-3"></div>
            Events
          </div>
          <div class="card">
            <div class="card-image car-4"></div>
            Users
          </div>
          <div class="card">
            <div class="card-image car-5"></div>
            Colleges
          </div>
        </section>

        <!-- <div class="cardBox">
                <div class="card">
                    <img src="/img/BAS.jpg" alt="sample image">
                    <div class="texts">
                        <p>Buy and Sell</p>
                    </div>
                </div>


            </div> -->

        <!-- graphs -->

        <!-- <div class="graphBox">
                <div class="box">
                    <canvas id="myChart"></canvas>
                </div>
                <div class="box"></div>
            </div> -->

<%- include('partials/footer.ejs') %>