<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible"content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> <%= title  %>  </title>
	<!-- <link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="responsive.css"> -->
	<link rel="stylesheet" href="css/form.css">
</head>

<body>

			<div class="userform">
				<form method="POST" action="/signup">
                <div class="title1"><span><img class="logo1" src="/img/Sellular Logo.png">SELLULAR&nbsp;&nbsp;</span></div>
                <br>    
                  <div class='light x1'></div>
                  <div class='light x2'></div>
                  <div class='light x3'></div>
                  <div class='light x4'></div>
                  <div class='light x5'></div>
                  <div class='light x6'></div>
                  <div class='light x7'></div>
                  <div class='light x8'></div>
                  <div class='light x9'></div>
                    
					<p class="txt2">Set your New Password.</p>
					<label for="password">Enter New Password</label>
                    <input type="password" name="password" minlength="8" placeholder="Enter Password" required>
                    
					<label for="confirm">Confirm New Password</label>
                    <input type="password"  id="confirm" name="confirm" minlength="8" placeholder="Confirm Password" required>
                    <br>
					<br>
                    <button type="submit" id="but1" >Change Password</button>
					<br>

                </form>
            </div>
			
            <script src="js/index.js"></script>
</body>
</html> 