<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible"content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> <%= title  %>  </title>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/responsive.css">
	<link rel="stylesheet" href="css/form.css">
</head>

<body>

			<div class="userform">
				<form method="POST" action="/signup">
                <div class="title1"><span><img class="logo1" src="/img/Sellular Logo.png">SELLULAR&nbsp;&nbsp;</span></div>
                <br>    
                  <div class='light x1'></div>
                  <div class='light x2'></div>
                  <div class='light x3'></div>
                  <div class='light x4'></div>
                  <div class='light x5'></div>
                  <div class='light x6'></div>
                  <div class='light x7'></div>
                  <div class='light x8'></div>
                  <div class='light x9'></div>
					<label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="Enter Name" required>
                    
					<label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Enter Email" required>
                    
					<label for="dob">Date of Birth</label>
                    <input type="date" id="dob"  name="dob"  placeholder="Enter DOB" required>
                    
					<label for="phone">Phone</label>
                    <input type="text" maxlength="10" id="phone" name="phone" placeholder="Enter Phone Number" required>

					<label for="gender">Institution</label>
					<select id="gender" name="gender" required>
						<option value="male">Male</option>
						<option value="female">Female</option>
					</select>
                    
					<label for="sts">State</label>
                	<select onchange="print_city('state', this.selectedIndex);" id="sts" name ="state" class="form-control" required></select>
					
					<label for="state">City</label>
					<select id ="state" name="city" class="form-control" required></select>	
					
					<label for="college">Institution</label>
					<select id="college" name="college" required>
						<option value="">Select</option>
						<option value="NIE">The National Institute of Engineering</option>
					</select>
					
					<label for="password">Password</label>
                    <input type="password" name="password" minlength="8" placeholder="Enter Password" required>
                    
					<label for="confirm">Confirm Password</label>
                    <input type="password"  id="confirm" name="confirm" minlength="8" placeholder="Confirm Password" required>
                    <br>
					<br>
                    <button type="submit" id="but1" >Sign Up</button>

                </form>
            </div>
			
            <script src="js/index.js"></script>
			<script src="js/area.js"></script>
			<script language="javascript">print_state("sts");</script>
</body>
</html> 