body{
    display: flex;
    overflow: hidden;
    background-size: cover;
    justify-content: center;
    /* align-items: center; */
}


.hexbody{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-image: url(/img/bg3.png);
    background-size: cover;
    z-index: -3;
}

.hex-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
} 

.hex-container .hexagonArea{
    display: flex;
}


.hex-container .hexagonArea .hexagon{
    position: relative;
    background: white;
    color: black;
    width: 200px;
    height: 250px;
    margin: 0 10px;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: 0.8s ease;
    z-index: 0;
}

.hex-container .hexagonArea .hexagon img{
    width: 80px;
}

.hex-container .hexagonArea .hexagon h3{
    text-decoration: none;
}

.hex-container .hexagonArea .hexagon:hover{
    background: rgb(53, 9, 130);
    color: rgb(255, 255, 255);
    transform: scale(75%);
}

.hex-container .hexagonArea.last{
    transform: translateY(-45px);
    z-index: 0;
}