.main{
  padding: 5px;
}
.userform{
  background-color: white;
}
.userform h1{
  background: linear-gradient(90.07deg, #B40C66 1.74%, rgba(43, 106, 106, 0.914616) 45.15%, rgba(11, 159, 159, 0.65));
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 56px;
  font-weight: 300;
}
.pfp{
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  top: -50px;
}
.pfp img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px;
  border: solid black 1px;
}
.pfp p{
  font-size: 46px;
}
.row{
  padding: 30px;
  position: relative;
  top: -80px;
}
.row p{
  font-size: 28px;
}
.row2{
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.row2 a{
  color: #038181;
  text-decoration: none;
  font-size: 20px;
}

/* Responsive code for profile.ejs */
@media screen and (min-width:320px) and (max-width:380px){
  .row2 a{
      font-size: 18px;
  }
}
@media screen and (min-width:320px) and (max-width:449px){
  .userform h1{
      font-size: 46px;
  }
  .pfp p{
      font-size: 36px;
  }.row p{
      font-size: 20px;
  }
}
@media screen and (min-width:320px) and (max-width:660px){
  .pfp{
      flex-direction: column;
      top: -120px;
  }
  .userform h1{
      height: 180px;
  }
}