@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@700&family=Space+Grotesk:wght@300;400&display=swap');
:root{
  --black: #000000;
  --grey: #000000a8;
  --white: #ffffff;
  --green: #057d7d;
}

.topna{
  margin-left: 75px;
  display: flex;
  justify-content: space-between;
  color: var(--green);
}
.topna p{
  padding: 20px;
  font-family: 'Space Grotesk', sans-serif;
}
.topna .right-nav{
  padding: 20px;
}
.right-nav{
  display: flex;
}
.pro {
  display: flex;
}
.pro p{
  padding: 0px;
  padding: 0px 10px;
}
.pro img{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0px 10px;
  margin-top: 3px;
}

.main{
  margin-left: 75px;
  display: flex;
}
.container:hover ~ div {
  margin-left: 250px;
  transition: all 1s ease;
}
.profile{
  position: fixed;
  /* width: 380px; */
  /* height: 100vh; */
  padding: 30px;
  font-family: 'Space Grotesk', sans-serif;
  color: var(--black);
  font-weight: 400;
}
.pic{
  text-align: center;
}
.pic p{
  text-transform: uppercase;
  margin: 20px;
  font-size: 20px;
}
.pic img{
  width: 120px;
  height: 120px;
  margin-top: 40px;
}
.icons{
  display: flex;
  justify-content: space-evenly;
  margin: 40px 2px;
}
.icons button{
  outline: none;
  border: none;
  background-color: var(--green);
  color: var(--white);
  padding: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 1s;
}
.icons button:hover, .change button:hover{
  background-color: var(--white);
  color: var(--green);
  box-shadow: rgba(5, 122, 122, 0.35) 0px 5px 15px;
}
ion-icon {
  width: 25px;
  height: 25px;
}
.details{
  margin: 20px;
}
.details p{
  font-size: 15px;
  margin: 10px;
}
.details p span{
  color: var(--grey);
  font-size: 15px;
}
.change{
  display: flex;
  justify-content: space-evenly;
}
.change button{
  padding: 10px;
  outline: none;
  margin: 20px 8px;
  font-size: 16px;
  border: none;
  background-color: var(--green);
  color: var(--white);
  transition-duration: 1s;
  border-radius: 10px;
}
.sub-sections{
  font-family: 'Space Grotesk', sans-serif;
  margin-left: 380px;
  border-left: solid 1px #00000028;
}
.sub-sections ul{
  margin-left: 10px;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}
.sub-sections ul li{
  margin: 20px;
  color: var(--grey);
  font-size: 18px;
  cursor: pointer;
  padding-bottom: 15px;
  width: fit-content;
  border-bottom-width: 3.1px;
  border-bottom-style: solid;
  border-color: var(--white);
}
.sub-active{
  border-color: var(--green) !important;
  color: var(--black) !important;
}
.tasks, .history{
  display: none;
}

.team{
  margin: 15px;
  padding: 15px;
  border-left: solid 1px #00000028;
  position: relative;
}
.team .title {
  display: flex;
  justify-content: space-between;
  color: var(--grey);
}
.team .title p{
  font-size: 14px;
  margin-bottom: 10px;
}
.team ion-icon{
  position: absolute;
  top: -10px;
  padding: 5px;
  left: -10px;
  color: var(--white);
  background-color: var(--green);
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.team .text{
  font-size: 15px;
}
@media screen and (min-width:320px) and (max-width:450px){
  .profile{
    padding: 15px;
  }
  .details {
    margin: 5px;
  }
  .details p{
    margin: 0px;
  }
  .icons button{
    padding: 8px;
  }
  .pic img{
    width: 80px;
    height: 80px;
  }
  .sub-sections ul{
    margin-left: 10px;
  }
  .sub-sections ul li{
    margin: 10px;
  }
  .team {
    margin: 15px;
  }
}
@media screen and (min-width:320px) and (max-width:790px){
  .profile{
    position: initial;
  }
  .main{
    flex-direction: column;
  }
  .sub-sections{
    margin-left: 0px;
  }
}
